
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-12">
        @*<div class="panel panel-primary">
            <div class="page-heading">
                <h3 class="panel-title">Please enter the details below.</h3>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-5">
                    <label>Student Name</label>
                    <input type="text" class="form-control" name="StudentName" id="StudentName" placeholder="Enter Student Name" required />
                </div>
                <div class="form-group col-md-5">
                    <label>Student Address</label>
                    <input type="text" class="form-control" name="StudentAddress" id="StudentAddress" placeholder="Enter Student Address" required />
                </div>

                <div class="form-group col-md-1">
                    <div style="float: right; display:inline-block;">
                        <input class="btn btn-primary" id="btnSave" type="button" name="SubmitButton" value="Save" />
                    </div>
                </div>
            </div>
        </div><hr />*@

        <br />

        <p>
            <h2>Mantenimiento de Estudiantes</h2>
        </p>

        <input type="text" id="txtBuscar" name="txtBuscar" value="" />
        <button class="btn btn-primary btnBuscar">Buscar</button>

        <button class="btn btn-primary btnNuevo">Nuevo</button>

        <br />
        <br />
       


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Nuevo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <input id="id" type="hidden" value="" />
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="StudentCode">Codigo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="StudentCode" id="StudentCode" placeholder="Enter Code" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="StudentName">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="StudentName" id="StudentName" placeholder="Enter Student Name" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="StudentLastName">Lastname</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="StudentLastName" id="StudentLastName" placeholder="Enter Student LastName" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for="StudentAddress">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="StudentAddress" id="StudentAddress" placeholder="Enter Student Address" required />
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <label class="col-sm-2 control-label" for="inputFecha">Fecha</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputFecha" type="date" placeholder="Fecha" />
                                </div>
                            </div>*@
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    </div>
                </div>
            </div>
        </div>


        <table id="tblStudent" class="table table-bordered table-striped table-responsive table-hover">
            <thead>
                <tr>
                    <th align="left" class="productth">ID</th>
                    <th align="left" class="productth">Codigo</th>
                    <th align="left" class="productth">Student Name</th>
                    <th align="left" class="productth">Student LastName</th>
                    <th align="left" class="productth">Student Address</th>
                    <th align="left" class="productth">Actions</th>
                </tr>
            </thead>

            <tbody>
            </tbody>

        </table>

    </div>

@section Scripts
{

    <script type="text/javascript">

        // boton para crear 

        $('.btnNuevo').click( ()=> {        
            $('#myModal').modal('show');
            $('#myModalLabel').text('Nuevo');
            $('#id').val('');
            $('#StudentCode').val('');
            $('#StudentName').val('');
            $('#StudentLastName').val('');
            $('#StudentAddress').val('');
        });

        $('.btnBuscar').click(() => {

            LoadDataFiltrada();

        });


        $(function () {

            LoadData();

           /* $("#btnSave").click(function () {
                var std = {};
                std.studentName = $('#StudentName').val();
                std.studentAddress = $('#StudentAddress').val();


                $.ajax({
                    type: "POST",
                    url: '*/@*Url.Action("createStudent")*@/*',
                    data: '{ std: ' + JSON.stringify(std) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {

                        LoadData();
                       
                    },
                    error: function () {

                        alert("Error while inserting data");
                    }
                });
                return false;

            });*/

            $("#btnGuardar").click(function () {
                var std = {};
                std.codigo = $('#StudentCode').val();
                std.studentName = $('#StudentName').val();
                std.lastName = $('#StudentLastName').val();
                std.studentAddress = $('#StudentAddress').val();
                
                val_id = $('#id').val();

                if(val_id==''){
                    ruta = '@Url.Action("CreateStudent")';
                    datos = '{ std: ' + JSON.stringify(std) + '}'
                }else{
                    ruta = '@Url.Action("UpdateStudent")';
                    datos =  '{ std: ' + JSON.stringify(std) + ' , Id : ' + val_id + ' }'
                    //datos.id = val_id;
                }

            
                console.log(std);
                $.ajax({
                    type: "POST",
                    url: ruta,
                    data: datos,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {

                        $('#id').val('');
                        $('#StudentCode').val('');
                        $('#StudentName').val('');
                        $('#StudentLastName').val('');
                        $('#StudentAddress').val('');
                        $('#myModal').modal('hide');
                        LoadData();
                                               
                    },
                    error: function () {

                        alert("Error while inserting data");
                    }
                });
                return false;
            });


        });

        function LoadDataFiltrada() {
            $("#tblStudent tbody tr").remove();
            var filtro = $("#txtBuscar").val();
            console.log(filtro);
            $.ajax({
                type: "POST",
                url: '@Url.Action("Busqueda")',
                dataType: "json",
                data: { "NombreApellido" : filtro },                     
                success: function (data) {
                    console.log(data);     
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                            + "<td class='producttd'>" + item.StundentID + "</td>"
                            + "<td class='producttd'>" + item.Codigo + "</td>"
                            + "<td class='producttd'>" + item.StudentName + "</td>"
                            + "<td class='producttd'>" + item.LastName + "</td>"
                            + "<td class='producttd'>" + item.StudentAddress + "</td>"
                            + '<td><button data-id="' + item.StundentID + '" class="btn btn-info btnEditar"><i class="glyphicon glyphicon-pencil"></i></button>'
                            + ' <button data-id="'+ item.StundentID +'" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash"></i></button></td>'
                            + "</tr>";
                        $('#tblStudent tbody').append(rows);
                    });                        

                },
                error: function (ex) {
                    console.log(ex);
                    //var r = jQuery.parseJSON(ex.responseText);
                            
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });

            return false;

        }

        function LoadData() {
            $("#tblStudent tbody tr").remove();

            $.ajax({
                type: "GET",
                url: '@Url.Action("getStudent")',                    
                dataType: "json",
                data: { id: ''},                    
                success: function (data) {
                    console.log(data);     
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>"
                            + "<td class='producttd'>" + item.StundentID + "</td>"
                            + "<td class='producttd'>" + item.Codigo + "</td>"
                            + "<td class='producttd'>" + item.StudentName + "</td>"
                            + "<td class='producttd'>" + item.LastName + "</td>"
                            + "<td class='producttd'>" + item.StudentAddress + "</td>"
                            + '<td><button data-id="' + item.StundentID + '" class="btn btn-info btnEditar"><i class="glyphicon glyphicon-pencil"></i></button>'
                            + ' <button data-id="'+ item.StundentID +'" class="btn btn-danger btnEliminar"><i class="glyphicon glyphicon-trash"></i></button></td>'
                            + "</tr>";
                        $('#tblStudent tbody').append(rows);
                    });                        

                },
                error: function (ex) {
                    var r = jQuery.parseJSON(data.responseText);
                            
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });

            return false;

        }

        $('#tblStudent').on('click', '.btnEditar', function() {
            val_id = $(this).data('id');

             $.post( '@Url.Action("EstudentDetail")' , {Id : val_id}, (data) => {

                 $('#id').val(data.StundentID);
                 $('#StudentCode').val(data.Codigo);
                 $('#StudentName').val(data.StudentName);
                 $('#StudentLastName').val(data.LastName);
                 $('#StudentAddress').val(data.StudentAddress);
                 $('#myModal').modal('show');
                 $('#myModalLabel').text('Editar')
                console.log(data);

             });
           

        });

        $('#tblStudent').on('click', '.btnEliminar', function() {
            val_id = $(this).data('id');
            if(confirm('Desea eliminar este registro?')){     
                $.post( '@Url.Action("DeleteStudent")' , {id: val_id}, (data) => {
                    LoadData();
                });
            }
        });


    </script>

}

